@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
}


* {
box-sizing: border-box;
}

    
body {
    background: rgb(169, 248, 169, 0.8);
    margin: 0;
    padding: 0 0 0 0px;
    font-family: Roboto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul, li {
    margin: 0px;
    padding: 0px;
}

.main_container {
    display: flex;
    flex-flow: row wrap;
}

h1 {
    margin-top: 20px;
    margin-left: 30px;
    font-weight: 900;
}
.avatar {
    margin-left: 100px;
   
}

.round {
    border-radius: 50px;
}

h2 {
    font-weight: 500;
}


.container {
    max-width: 900px;
    margin: 0 auto;
}

.section {
    width: 50%;
}

.nav-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    font-size: 14px;
    color: rgb(9, 19, 9, 0.8);
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
}

.nav-item a:hover {
    color: rgb(9, 19, 9, 1);
    text-decoration: solid;
    font-weight: 800;
    font-style: italic;
}

.section_title {
    color: rgb(2, 19, 2);
    font-style: italic;
}

.list {
    list-style: none;
    padding: 2px;
    font-weight: 300;

}

.text {
    margin: 5px;
    font-weight: 300;
   }

.language_skills {
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
}

.exampl {
    color: green;
}

#burger, [for=burger] {
    display: none;
}

.url {
    color: rgb(63, 55, 71, 0.8);
    text-decoration: none;
    font-weight: 500;
    
}

.url:hover {
    color: rgb(63, 55, 71, 1);
    text-decoration: none;
    font-weight: 800;
    font-style: italic;
}

footer {
    display: flex;
    background: rgb(169, 248, 169, 1);

}

@media screen and (max-width: 700px) {
    .section {
        width: 100%;}

    [for=burger] {
            display: block;
            position: absolute;
            width: 50px;
            text-align: center;
            left: 5px;
            top: 3px;
            text-decoration: underline;
        }

    .nav {
        display: none;
    }

    #burger:checked + label + nav {
        display: block;
        margin-top: 25px;
    }



}
